print(input("Nama:"))
print(input("NIM:"))
print(input("Kelas:"))

## 1.

buatlah program sederhana untuk:
* **A** mencari massa jika diketahui nilai energi potensial, percepatan gravitasi, dan ketinggian benda! beserta rumus nya!
* **B** mencari gaya apung jika diketahui massa jenis, tinggi, panjang, dan lebar benda serta percepatan gravitasi dan contohnya! beserta rumus nya!
* **C** Tulis program Python untuk menghitung luas dari segi lima sama sisi!

> *note* : rumus, contoh, dan nilai dari tiap variabel ditentukan oleh kalian sendiri dan gunakan satuan baku (SI) untuk menghitung nilai dari tiap variabel

In [2]:
#A
ep = float(input("masukkan nilai energi potensial =  "))
g = 9.8 
h = float(input("masukkan nilai ketinggian benda ="))

massa = ep/g*h
print(f"massa benda dengan energi potensial {ep} joule, percepatan gravitasi {g} m/s^2, dan ketinggian benda {h} m adalah {massa} kg")

massa benda dengan energi potensial 30 joule, percepatan gravitasi 9.8 m/s^2, dan ketinggian benda 5 m adalah 15.306122448979592 kg

In [6]:
#B
rho = float(input("masukkan nilai massa jenis = "))
g = 9.8
p = int(input("masukkan nilai panjang benda = "))
l = int(input("masukkan nilai lebar benda ="))
t = int(input("masukkan nilai tinggi benda ="))

v = p*l*t
Fa = rho*g*v
print(f"nilai volume benda adalah {v} m^3")
print(f"gaya apung benda dengan massa jenis {rho} kg/m^3, percepatan gravitasi {g} m/s^2, dan volume {v} m^3 adalah {Fa} N")

nilai volume benda adalah 40
gaya apung benda dengan massa jenis 1.4 kg/m^3, percepatan gravitasi 9.8 m/s^2, dan volume 40 m^3 adalah 548.8000000000001 N

In [12]:
#C
s = 4
print("Menghitung luas segi lima sisi dengan panjang sisi", s, "m")

#Rumus Luas 
import math 
L = 1/4 * (math.sqrt((5*(5+2*(math.sqrt(5)))*s**2)))
print("Rumus luas segi lima sama sisi, L = 1/4.akar(5.(5+2.akar 5).s^2)")

print("L = ",L,"m^2")

Menghitung luas segi lima sisi dengan panjang sisi 4 m
Rumus luas segi lima sama sisi, L = 1/4.akar(5.(5+2.akar 5).s^2)
L =  6.881909602355868 m^2

## 2.

Taman bermain ANCOL memiliki berbagai wahana, salah satunya adalah bianglala. Harga tiket yang dijual berbeda tergantung dengan kategori nya. Harga tiket bagi orang dewasa atau yang berumur lebih dari 17 tahun adalah Rp 110.000 , harga tiket untuk anak-anak usia 6-16 tahun adalah Rp. 75.000 , sedangkan untuk usia dibawahnya tidak dikenakan biaya. Pada wahana bianglala sedang ada "Promo RAMADHAN" sebesar 20% bagi pembelian tiket lebih dari 2 pcs.

Keluarga Anya Forger ingin menaiki wahana bianglala tersebut, Anya (usia 18 tahun) pergi bersama ayah dan ibunya beserta dua adiknya, Harry (usia 8 tahun) dan Taylor (usia 4 tahun). 

> Buatlah program sederhana untuk menghitung harga total dari pembelian tiket  oleh keluarga Anya dan harga tiket setelah mendapatkan diskon

In [19]:
tiket_dewasa = 110000
tiket_anak = 75000
tiket_DiBawahUmur = 0

#Kategori Tiket
KategoriDewasa = ["Ayah", "Ibu", "Anya"]
KategoriAnak = ["Harry"]
KategoriDiBawahUmur = ["Taylor"]

#Harga yang dibayar
HargaTiketDewasa = len(KategoriDewasa)*tiket_dewasa
HargaTiketAnak = len(KategoriAnak)*tiket_anak
HargaTiketDiBawahUmur = len(KategoriDiBawahUmur)*tiket_DiBawahUmur

BanyakTiket = len(KategoriDewasa)+len(KategoriAnak)+len(KategoriDiBawahUmur)
HargaTiket = HargaTiketDewasa+HargaTiketAnak+HargaTiketDiBawahUmur

if BanyakTiket >2 :
    print("Total harga tiket = Rp", HargaTiket-(HargaTiket*20/100))
else :
    print("Total harga tiket = Rp", HargaTiket)

Total harga tiket = Rp 324000.0

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab dan tampilkan hasilnya:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
* **C** Hapus nilai pada kunci "kontak" pada list aslab dan tampilkan hasilnya
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [22]:
#A
list_aslab = [
    {"nama":"Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama":"Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama":"Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama":"Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama":"Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama":"Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]


for i in range(1,6):
    print(list_aslab[i]["nama"])

Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma

In [1]:
#B
list_aslab = [
    {"nama":"Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama":"Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama":"Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama":"Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama":"Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama":"Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

surel = ["berlian@student.uns.ac.id",
         "halidya@student.uns.ac.id",
         "nurki@student.uns.ac.id",
         "manarul@student.uns.ac.id",
         "alica@student.uns.ac.id",
         "dendy@student.uns.ac.id"] 

for i in range(len(list_aslab)):
    list_aslab[i]["surel"] = surel[i]

for aslab in list_aslab:
    print(aslab)

{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}

In [2]:
#C
list_aslab = [
    {"nama":"Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama":"Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama":"Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama":"Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama":"Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama":"Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]

for aslab in list_aslab:
    del aslab["kontak"]
    print(aslab)

{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125'}